.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* position: relative; */
}

.products-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.btn-proceed {
    background-color: #ff9900;
    width: 95%;
    height: 10vh;
    font-size: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    align-items: center;
}

.proceed-link {
    text-decoration: none;
}